
<div class="palm-row grid-cell" x-mojo-tap-highlight="immediate">
	<!-- this is the main block -->
	<div class="titlemod">
		<!-- needs a different look IMO -->
		<div class="comVoting">
			<div id="upvote" class="upvoteO"></div>
			<div id="count" class="count">#{totCount}</div>
			<div id="downvote" class="downvoteO"></div>  
		</div>
	 	<div id="body" name="body" class="bulk">
	 		<img src=#{thumbnail} id="thumby" name="thumby">#{body}
			<div class="authr">#{author}</div>
		</div>
	 </div>  
</div>  

<!-- add drawer-button to the parent comment class e.g. palm-row drawer-button
     <div class="drawer" x-mojo-element="Drawer">
	 
	 <div class="palm-row drawer-button" id="button1">
		<div class="palm-row-wrapper">
			<div class="title">
				<span x-mojo-loc="">World</span> 
			</div>
		</div>
	</div>
	<div class="drawer" x-mojo-element="Drawer">
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div class="title">
				<span x-mojo-loc="">Africa</span> 
			</div>
		</div>
	</div>

<div class="drawer" name="drawer" x-mojo-element="Drawer">-->